<app-page-not-found
  [visible]="!product.id"
  notFoundMessage="Aucun article trouvé"
  resetLinkText="Page d'accueil"
></app-page-not-found>


<div *ngIf="product.id" class="container">
  <img [src]="product.imageUrl" [alt]="product.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{product.name}}
      </span>
      <span class="favorite {{product.favorite? '': 'not'}}">❤</span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of product.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="price">
      <span>
        {{product.price}}
        <span>Fcfa</span>
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>

  </div>
</div>




